.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(82, 6, 65);
  border: 1px solid rgb(31, 1, 24);
  font-size: 16px;
  color: #fff;
}
#close {
  position: absolute;
  right: 10px;
}
input[type="file"] {
  visibility: hidden;
}
.button-wrap {
  position: relative;
}
#uploaded-img {
  max-width: 30%;
}
.popup {
  z-index: 10;
}
.openModal {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #0000;
  width: 30px;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}
