.card {
  /* position: absolute; */
  background-color: #bbb;
  width: 21%;
  margin: 5vh auto;
  border-radius: 5px;
}

.image img {
  width: 90%;
  height: 300px;
  object-fit: contain;
  position: relative;
  left: 5%;
  padding: 5px;
}

.donate {
  /* z-index: 1; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  padding: 10px;
  border-radius: 5px;
  color: #ddd;
  background-color: rgb(82, 6, 65);
  border: 1px solid rgb(31, 1, 24);
  visibility: hidden;
}
.vote {
  position: relative;
}
