.counter {
  position: relative;
  left: 10%;
  display: flex;
  padding: 10px;
}
.btn-vote {
  display: flex;
}
.btn-vote div h4 {
  font-weight: bolder;
  cursor: pointer;
}
.upvote {
  padding: 0 5px;
}
.downvote {
  padding: 0 5px;
}
