.counter {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.btn-vote {
  display: flex;
}
.btn-vote div h4 {
  font-weight: bolder;
  cursor: pointer;
}
.upvote {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.downvote {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
.inlineBlock {
  display: inline-block;
}
.btn {
  padding: 3px 5px;
  background-color: #393939;
  color: white;
  border: solid #393939;
  border-radius: 0px 5px 5px 0px;
}
.owned {
  background-color: #bc243c;
}
.doantion {
  display: flex;
}
.amount-box {
  padding: 3px;
  border: 2px solid #393939;
  border-radius: 5px 0px 0px 5px;
}
.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
/* .wrap-donatio-amount{
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
  left: 2px;
} */
