.home {
  min-height: 100vh;
  background: linear-gradient(#0007, #0007),
    url("../Images/Background/Untitled-1\ copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.memes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
